#   ____  ____   _____               
#  / __ \|  _ \ / ____|              
# | |  | | |_) | |     ___  _ __ ___ 
# | |  | |  _ <| |    / _ \| '__/ _ \
# | |__| | |_) | |___| (_) | | |  __/
#  \___\_\____/ \_____\___/|_|  \___|

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 48
set steam_webApiKey "774EBD813C39C151D6D78AF499000EB1"
sets tags "UK, TheBest, qbcore, qb-core, US, Roleplay, Blessed"
onesync_enabled 1

## You MAY edit the following:
sv_licenseKey "cfxk_1qARWGoSxDWB4YwzP1Pik_Chnvg"
sv_hostname "Blessed Roleplay"
sets sv_projectName "Blessed Roleplay"
sets sv_projectDesc "Blessed Roleplay Experience"
sets locale "en-GB" 
load_server_icon icon.png
sets banner_detail "https://cdn.discordapp.com/attachments/974622357039759381/989283747939639306/My_project_25.png"
sets banner_connecting "https://cdn.discordapp.com/attachments/974622357039759381/989283747939639306/My_project_25.png"
set sv_enforceGameBuild 2372
sv_tebexSecret 8de2a05c7150ece48465f805d1c9fc8033823515

set mysql_connection_string "mysql://root@localhost/BlessedLife_7C5D45?charset=utf8mb4"
## You MAY edit the following:

# Voice config
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1

# QBCore UseTarget
setr UseTarget true

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

# QBCore & Extra stuff
ensure qb-core
ensure qb-target
ensure qb-adminmenu
ensure [qb]
ensure [standalone]
ensure [voice]
ensure [eup]
ensure [defaultmaps]
ensure oELS
ensure [Blessed_MLOs]
ensure [jobs]
ensure vehicles
ensure trucks
ensure trailers
ensure [gabz]
ensure [scripts]
exec @pmms/permissions.cfg
start pmms
start CaveMiningMLO
ensure qb-phone
ensure Blessed_Carsounds
ensure [pdcars]
ensure MLOs



# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
# Deployer Note: this admin master has no identifiers to be automatically added.
add_principal identifier.steam:110000102332209 group.admin 
add_principal identifier.steam:110000142249035 group.admin 
add_principal identifier.steam:1100001433608cf group.admin 
add_principal identifier.discord.699033544714092566 group.admin
add_principal identifier.steam:1100001188c8653 group.admin
add_principal identifier.steam:11000014253d4e3 group.admin
add_ace group.superadmin chocohax allow
add_principal identifier.license:985a21421f39f71d456f8dcf4ec42905ef29e0da group.admin
add_ace resource.zdiscord command allow
add_ace group.zdiscordstaff zdiscord.staffchat allow
add_ace group.mod "pac_bypass_protections" allow
add_ace group.mod "pac_bypass_spectate" allow
add_ace group.admin "pac_bypass_protections" allow
add_ace group.admin"pac_bypass_spectate" allow
add_ace group.admin advanced_drugs_creator allow
add_ace group.admin pmms.anyUrl allow
add_ace group.admin doors_creator allow