@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

*,*:focus,*:hover{
	outline:none;
}

html {
	font-size: calc(16 / 19.2 * 1vw);
}

@media (min-aspect-ratio: 16 / 9) {
	html {
		font-size: calc(16 / 10.8 * 1vh);
	}
}

body {
	font-family: 'Tajawal', sans-serif;
	background: none;
	user-select: none;
}

hr {
	color: #3e3f4b;
	opacity: 1;
	height: 0.05rem;
	margin: 0.5rem 0;
}

hr:not([size]) {
	height: 0.05rem;
	opacity: 1;
}

.report_menu {
	display: none;
	width: 30%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.reports_menu {
	display: none;
	width: 45%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.reports_view {
	display: none;
	width: 30%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.report_player_view {
	display: none;
	width: 30%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.card {
	border: none;
	background-color: #1d1e24;
	border-radius: 1.25rem;
	color: #fff;
}

.report_card {
	border-radius: 1.25rem;
	background-color: #202128;
	border: none;
	box-shadow: 0rem 0rem 0.625rem 0rem rgba(0, 0, 0, 0.6);
	font-weight: 600;
}

.card-header {
	border-bottom: none;
}

.report_card-header {
	border-bottom: 0.125rem solid #3e3f4b;
	background-color: #202128;
	border-top-right-radius: 1.25rem;
	border-top-left-radius: 1.25rem;
}

.card-header:first-child {
	border-top-right-radius: 1.25rem;
	border-top-left-radius: 1.25rem;
}

.card-body {
	padding: 0.2rem 1rem 1rem 1rem;
}

.report_card-body {
	background-color: transparent;
	color: #fff;
	font-size: 0.9375rem;
	vertical-align: middle;
}

.reports_card {
	border-radius: 1.25rem;
	background-color: #202128;
	border: none;
	box-shadow: 0rem 0rem 0.625rem 0rem rgba(0, 0, 0, 0.6);
}

.reports_card-body {
	background-color: transparent;
	color: #fff;
	font-size: 0.9375rem;
	vertical-align: middle;
	font-weight: 600;
	padding: 1rem;
}

.reports_view_card {
	border-radius: 1.25rem;
	background-color: #202128;
	border: none;
	box-shadow: 0rem 0rem 0.625rem 0rem rgba(0, 0, 0, 0.6);
	font-weight: 600;
}

.reports_view_card-header {
	border-bottom: 0.125rem solid #3e3f4b;
	background-color: #202128;
	border-top-right-radius: 1.25rem;
	border-top-left-radius: 1.25rem;
}

.reports_view_card-body {
	background-color: transparent;
	color: #fff;
	font-size: 0.9375rem;
	vertical-align: middle;
	padding: 0.6rem 1rem 1rem 1rem;
}

.report_player_view_card {
	border-radius: 1.25rem;
	background-color: #202128;
	border: none;
	box-shadow: 0rem 0rem 0.625rem 0rem rgba(0, 0, 0, 0.6);
	font-weight: 600;
}

.report_player_view_card-header {
	border-bottom: 0.125rem solid #3e3f4b;
	background-color: #202128;
	border-top-right-radius: 1.25rem;
	border-top-left-radius: 1.25rem;
}

.report_player_view_card-body {
	background-color: transparent;
	color: #fff;
	font-size: 0.9375rem;
	vertical-align: middle;
}

.btn {
	font-weight: 500;
	font-size: 1.125rem;
	padding: 0.813rem 1.063rem;
	border: none;
	transition: .25s;
	letter-spacing: 0.013rem;
	border-radius: 0.625rem;
}

.btn:focus {
	box-shadow: none;
}

.btn-blue {
	background-color: #1f5eff;
	color: #e6e6e6;
}

.btn-blue:hover {
	background-color: #0a4df9;
	color: #e6e6e6;
}

.btn-red {
	background-color: #dc3535;
	color: #e6e6e6;
}

.btn-red:hover {
	background-color: #ed1e1e;
	color: #e6e6e6;
}

.btn-green {
	background-color: #25ba59;
	color: #e6e6e6;
}

.btn-green:hover {
	background-color: #20ab51;
	color: #e6e6e6;
}

.btn-primary {
	background-color: #14151a;
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
	transition: .25s;
	font-weight: 600;
	padding: 0.39rem 0.75rem;
	font-size: 1.5rem;
}

.btn-primary:hover {
	background-color: #1f5eff;
	color: #fff;
	transition: .25s;
}

.close-button {
	color: #c7c7c9;
	position: absolute;
	right: 1.25rem; 
	top: 0.9rem;
	transition: .25s;
	font-size: 1.6rem;
	line-height: 1;
}

.close-button:hover {
	color: #fff;
	transition: .25s;
	cursor: pointer;
}

.back-button {
	border-radius: 0.313rem;
	color: #1f4ec9;
	position: absolute; 
	right: 3rem;
	top: 1rem;
	transition: .25s;
	font-size: 1.4rem;
	line-height: 1;
}

.back-button:hover {
	cursor: pointer;
	color: #1f5eff;
	transition: .25s;
}

.submit-button {
	font-size: 1.5rem;
	font-weight: 500;
	padding: 0.39rem 0.75rem;
	width: 33%;
}

.adminactions-button {
	font-size: 1.5rem;
	font-weight: 500;
	padding: 0.39rem 0.75rem;
	width: 100%;
}

.title {
	color: #fff;
	font-size: 2.25rem;
	text-transform: uppercase;
	margin-left: -0.16rem;
}

.subtitle {
	color: #a4a4a4;
	font-size: 1rem;
	line-height: 1.2;
	margin-top: -0.5rem;
	text-transform: uppercase;
}

.btn-group {
	display: flex;
}

.fields_title {
	font-size: 1.875rem;
	line-height: 1;
	margin-bottom: 0.4rem;
}

.btn-check:active+.btn-success:focus, .btn-check:checked+.btn-success:focus, .btn-success.active:focus, .btn-success:active:focus, .show>.btn-success.dropdown-toggle:focus {
	box-shadow: none;
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #1f5eff;
	border-color: none;
}

.form-control {
	background-color: #14151a !important;
	border: none;
	color: #fff;
	font-size: 1.5rem;
	font-weight: 500;
	border-radius: 0.625rem;
}

.form-control:focus {
	box-shadow: 0rem 0rem 0.313rem 0.063rem #1f5eff !important;
	background-color: #14151a !important;
	color: #fff !important;
	outline: none !important;
	border: none !important;
}

textarea {
	resize: none;
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #1f5eff;
	border-radius: 0.625rem;
	transition: .25s;
}

::-webkit-scrollbar-thumb:hover {
	cursor: pointer;
	background-color: #0a4df9;
	transition: .25s;
}

::placeholder {
	color: #8f9094 !important;
}

.selected-page {
	color: #fff;
	font-size: 2.25rem;
	line-height: 1;
	margin-bottom: 0.5rem;
}

.dataTable-top {
	display: none;
}

.dataTable-wrapper.no-footer .dataTable-container {
    border-bottom: none;
}

td {
	background-color: transparent;
}

tr {
	background-color: #2e2f36;
	transition: .25s;
}

tr:hover {
	background-color: #292a31;
	transition: .25s;
}

tbody tr {
	border-radius: 0.625rem;
	height: 4.063rem;
}

.dataTable-table {
	border-collapse: separate; 
	border-spacing: 0rem 0.938rem;
	margin-top: -0.85rem;
	font-size: 1.125rem;
	margin-bottom: -0.5rem;
}

.dataTable-info {
	display: none;
}

td:first-child {
	border-top-left-radius: 0.625rem;
	border-bottom-left-radius: 0.625rem;
}

td:last-child {
	border-top-right-radius: 0.625rem;
	border-bottom-right-radius: 0.625rem;
}

.dataTable-pagination .active a, .dataTable-pagination .active a:focus, .dataTable-pagination .active a:hover {
	background-color: #1f5eff;
	cursor: pointer;
	transition: .25s;
}

.dataTable-pagination a {
	border-radius: 0.313rem;
	color: #fff;
	background-color: #2e2f36;
	transition: .25s;
	padding: 0.375rem 0.75rem;
	margin-left: 0.125rem;
}

.dataTable-pagination a:hover {
	background-color: #292a31;
	transition: .25s;
}

.dataTable-pagination {
	display: flex;
	justify-content: center;
}

.dataTable-bottom {
    padding: 0rem 0rem;
    font-size: 1.125rem;
    margin-top: 0.563rem;
}

thead th {
	background-color: #2e2f36;
}

thead th:first-child {
	border-top-left-radius: 0.625rem;
	border-bottom-left-radius: 0.625rem;
}

thead th:last-child {
	border-top-right-radius: 0.625rem;
	border-bottom-right-radius: 0.625rem;
}

.dataTable-table > thead > tr > th {
	border-bottom: none;
}

.section {
	display: flex;
	flex-direction: column;
}

.btn-view {
	font-size: 0.959rem;
	font-weight: 500;
}

a.dataTable-sorter::before, a.dataTable-sorter::after {
	display: none;
}

.btn-category {
	background-color: #14151a;
	color: #fff;
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
	font-weight: 600;
	padding: 0.39rem 0.75rem;
	font-size: 1.5rem;
	cursor: auto;
}

.btn-category:hover {
	background-color: #14151a;
	color: #fff;
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
}

.chat-window {
	font-size: 1.5rem;
	font-weight: 500;
	background-color: #14151a !important;
	border-radius: 0.625rem;
	padding: 0.375rem 0.75rem;
	width: 100%;
	height: 11.3563vh;
	max-height: 11.3563vh;
	overflow-x: hidden;
}

.chat-name {
	font-weight: 600;
}

.reports_view-field {
	font-weight: 600;
	padding: 0.39rem 0.75rem;
	font-size: 1.5rem;
	background-color: #14151a;
	border-radius: 0.625rem;
}

.dataTable-top > nav:last-child, .dataTable-top > div:last-child, .dataTable-bottom > nav:last-child, .dataTable-bottom > div:last-child {
	float: none;
}

.category_pr {
	border-top-left-radius: 0.625rem;
	border-bottom-left-radius: 0.625rem;
}

.category_bug {
	border-top-right-radius: 0.625rem;
	border-bottom-right-radius: 0.625rem;
}

.being-attended {
	color: #1f5eff;
}

.dataTables-empty {
	font-size: 1.25rem;
}

.dataTable-table > tbody > tr > td, .dataTable-table > tbody > tr > th, .dataTable-table > tfoot > tr > td, .dataTable-table > tfoot > tr > th, .dataTable-table > thead > tr > td, .dataTable-table > thead > tr > th {
	vertical-align: middle;
	padding: 0.5rem 0.625rem;
}

.nobs, .nobs:focus {
	box-shadow: none !important;
}

.input-group>.form-control:focus, .input-group>.form-select:focus {
	z-index: 0;
}

.chat-input {
	margin-top: 0.4rem;
}

.btn-send {
	border-top-left-radius: 0rem;
	border-bottom-left-radius: 0rem;
	padding: 0.69rem 1.063rem;
}

.modal-content {
	background-color: transparent;
	border: none;
}

.modal-body {
	background-color: #292a31;
	border-radius: 10px;
	color: #fff;
	box-shadow: 0px 0px 5px 0px rgba(10, 10, 10, 0.3);
}

.modal-title {
	font-weight: 600;
	font-size: 1.875rem;
}

.modal-dialog {
	width: 26rem;
}

.btn-dark {
	background-color: #1f1f24;
	color: #e6e6e6;
	transition: .25s;
}

.btn-dark:hover {
	background-color: #1d1d21;
	color: #e6e6e6;
	transition: .25s;
}

#cancelAction {
	border-radius: 0.625rem;
	font-size: 1.875rem;
	margin-right: 0.9375rem;
}

#cancel_myReport_btn_modal {
	border-radius: 0.625rem;
	font-size: 1.875rem;
}

.modal-btns-mt {
	margin-top: 0.625rem;
}