#MainMenu {display: none;}

.HouseBuyMenu {
    background-image: url("../backgrounds/background.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 90vh;
    height: 50vh;
    margin: auto;
    border-radius: .5vh;
    margin-top: 22vh;
}

.SatinAlTaraf {
    background-color: transparent;
    width: 25vh;
    margin-left: 1vh;
    height: 31vh;
    float: left;
    display: inline-block;
    border-radius: .5vh;
}

.Fiyat {
    color: #0b9d23;
    font-family: 'Inter', sans-serif;
    font-size: 4vh;
    position: relative;
    text-align: center;
    top: -1vh;
    font-weight: 600;
    text-shadow: 0 0 0px #0b9d23, 0 0 0px #0b9d23, 0 0 12px #0b9d23;
}

.KiraFiyat {
    color: #ffe000;
    font-family: 'Inter', sans-serif;
    font-size: 4vh;
    text-align: center;
    position: relative;
    top: -1vh;
    font-weight: 600;
    text-shadow: 0 0 0px #ffe000, 0 0 0px #ffe000, 0 0 12px #ffe000;
}

.BuyHouseBox {
    width: 52vh;
    height: 32vh;
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: .5vh;
    position: relative;
    left: 35vh;
    top: -32vh;
}

.HouseAddress {
    width: 86vh;
    height: 10vh;
    background-color: transparent;
    position: relative;
    left: 2vh;
    top: 2vh;
}

.AddressText {
    color: #fff;
    font-size: 6vh;
    padding-left: 6vh;
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 6px #fff;
    padding-top: 1vh;
}

.LocationName {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 5vh;
    font-weight: 600;
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 6px #fff;
}

.CloseButton {
    width: 3vh;
    border: 1px;
    height: 3vh;
    background-color: transparent;
    position: relative;
    left: 82vh;
    cursor: pointer;
    top: -13vh;
    font-size: 3vh;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

.CloseButton2 {
    width: 2vh;
    border: 1px;
    height: 2vh;
    background-color: transparent;
    position: relative;
    left: 17vh;
    cursor: pointer;
    top: 1.5vh;
    font-size: 2vh;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

.InfoText {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 2vh;
    padding-left: 3vh;
    font-weight: 600;
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 6px #fff;
}

.FeaturesLabel {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 3vh;
    font-weight: 600;
    padding-top: 20px;
    text-align: center;
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 6px #fff;
}

.HomeInfoBox {
    width: 30vh;
    height: 32vh;
    border-radius: .5vh;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    left: 2vh;
}

.EvTitle {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 3vh;
    font-weight: 600;
    position: relative;
    TEXT-ALIGN: center;
    top: 1vh;
    text-transform: uppercase;
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 6px #fff;
}

.InfoHouseText {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 1.6vh;
    position: relative;
    top: -3vh;
    text-align: center;
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 6px #fff;
    font-weight: 600;
}

.ButtonBuy {
    background-color: #11892d;
    width: 24vh;
    height: 4vh;
    cursor: pointer;
    border: 1px;
    border-radius: .3vh;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 1.6vh;
    position: relative;
    top: 7vh;  
}

.ButtonBuyNot {
    background-color: #535353;
    width: 24vh;
    height: 4vh;
    border: 1px;
    border-radius: .3vh;
    font-weight: 600;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 1.6vh;
    position: relative;
    top: 7vh;  
}

.ButtonRentNot {
    background-color: #535353;
    width: 24vh;
    height: 4vh;
    cursor: pointer;
    border: 1px;
    border-radius: .3vh;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 1.6vh;
    position: relative;
    top: 5vh; 
}

.ButtonBuy:hover {
    background-color: #11a534;
    transition: 0.5s;
}

.ButtonRent {
    background-color: #c0ab0c;
    width: 24vh;
    height: 4vh;
    cursor: pointer;
    border: 1px;
    border-radius: .3vh;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 1.6vh;
    position: relative;
    top: 5vh; 
}

.ButtonRent:hover {
    background-color: #d8c10f;
    transition: 0.5s;
}

.ModalMoruk {
    background-color: rgb(0 0 0 / 40%);
    width: 42vh;
    position: absolute;
    text-align: center;
    text-indent: 0;
    border-radius: 0.5vh;
    z-index: 9;
    display: none;
    top: 35vh;
    left: 37%;
    height: 18vh;
}

.ModalMoruk2 {
    background-color: rgb(0 0 0 / 40%);
    width: 42vh;
    position: absolute;
    text-align: center;
    text-indent: 0;
    border-radius: 0.5vh;
    z-index: 9;
    display: none;
    top: 35vh;
    left: 37%;
    height: 18vh;
}

.EminmisinText {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 1.6vh;
    text-align: center;
    position: relative;
    top: 3vh;
}

.BuyHouseButtonMoruk {
    width: 17vh;
    font-size: 1.6vh;
    height: 5vh;
    border-radius: .3vh;
    border: 1px;
    color: #fff;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    background: #721414;
    position: relative;
    left: -9vh;
    top: 4vh;
}

.BuyHouseButtonMorukSuccess {
    width: 17vh;
    font-size: 1.6vh;
    height: 5vh;
    border-radius: .3vh;
    border: 1px;
    color: #fff;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    background: #3b9b0f;
    position: relative;
    left: 10vh;
    top: -1vh;
}

.BuyHouseButtonMorukWarning {
    width: 17vh;
    font-size: 1.6vh;
    height: 5vh;
    border-radius: .3vh;
    border: 1px;
    color: #fff;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    background: #d8c10f;
    position: relative;
    left: 10vh;
    top: -1vh;
}

.HouseGarageMenu {
    width: 56vh;
    background-image: url("../backgrounds/garagabg.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    left: 5vh;
    margin-top: 5vh;
    height: 38vh;
    display: none;
    background-color: yellow;
    border-radius: 0.6vh;
}

.GarageLabel {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 4.6vh;
    text-align: center;
    position: relative;
    top: 3vh;
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 6px #fff;
}

.Vehicles {
    width: 46vh;
    height: 27vh;
    background-color: transparent;
    border-radius: 0.5vh;
    position: relative;
    overflow-x: hidden; 
    overflow-y: scroll;
    margin: auto;
}

::-webkit-scrollbar {
    width: 3px;;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0f2038; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1c2430;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
.VehicleOption {
    background-color: rgba(255, 255, 255, 0.15);
    width: 45vh;
    height: 7vh;
    position: relative;
    top: 1vh;
    margin-top: 1vh;
    border-radius: 0.5vh;
}

.VehicleModel {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 2.3vh;
    position: relative;
    top: 2.2vh;
    left: 3vh;
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 6px #fff;
}

.VehicleFuel {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 2.3vh;
    position: relative;
    top: 2.2vh;
    left: 3vh;
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 6px #fff;
}

.OutputGarageVehicle {
    width: 8vh;
    font-size: 1.6vh;
    height: 4vh;
    border-radius: .3vh;
    border: 1px;
    color: #fff;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    background: #2f5da1;
    position: relative;
    left: 36vh;
    top: -2.5vh;
}

.OutputGarageVehicle:hover {
    background: #3264af;
    transition: 0.5s;
}

.HouseManagementMenu {
    background-image: url("../backgrounds/management.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: none;
    width: 57vh;
    height: 25vh;
    margin: auto;
    position: relative;
    top: 33vh;
    border-radius: .5vh;
}

.HouseIslemButton {
    width: 19vh;
    font-size: 1.6vh;
    height: 5vh;
    border-radius: .3vh;
    border: 1px;
    color: #fff;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    background: transparent;
    position: relative;
    margin-top: 0.6vh;
    left: 19.2vh;
    top: 0.2vh;
}

.HouseIslemButton:hover {
    transition: 0.5s;
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 6px #fff;
}

/* ------------------------------------------ */
.SariButon {
    background-color: rgb(219, 193, 41);
}

.GriButon {
    background-color: rgb(71, 71, 71);
}

.SariButon:hover {
    transition: 0.5s;
    box-shadow: 0 0 0px rgb(255, 226, 61), 0 0 0px rgb(255, 226, 61), 0 0 6px rgb(255, 226, 61);
}
/* ------------------------------------------ */
.RedButon {
    background-color: rgb(120 53 53);
}

.RedButon:hover {
    transition: 0.5s;
    box-shadow: 0 0 0px rgb(151, 65, 65), 0 0 0px rgb(151, 65, 65), 0 0 6px rgb(151, 65, 65);
}
/* ------------------------------------------ */
.MaviButon {
    background-color: rgb(53 112 26);
}

.MaviButon:hover {
    transition: 0.5s;
    box-shadow: 0 0 0px rgb(82, 167, 43), 0 0 0px rgb(82, 167, 43), 0 0 6px rgb(82, 167, 43);
}

.agresif {
    color: #fff;
    position: relative;
    top: 2px;
}

.MahalleName {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 3.3vh;
    position: relative;
    top: 2.2vh;
    left: 3vh;
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 6px #fff;
}